@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar{
    position: sticky;
    top: 0;
    width: 100vw;
    background-color:rgb(6, 26, 56);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: right;
    margin-bottom: 1rem;
}

.navbar nav{
    padding: 1.5rem;
}

.navbar nav ul{
    display: flex;
    list-style: none;
    align-items: left;
}

.navbar nav ul li a{
    font-size: 1rem;
    padding: 0 1.2rem;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.navbar nav ul li a:hover{
    color:rgba(100,255,218,255);
}

/* container */
.container{
    color: white;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(10,25,47,255);
}

/* sidebar for mobile view */

.sidebar{
    top: 0;
    left: 0;
    position: absolute;
    background-color:rgb(6, 26, 56);
    color: white;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease-in;
    visibility: hidden;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 18px;
    padding: 20px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color:rgba(204,214,246,255);
}

.sidebar nav li a:hover{
    color:rgba(100,255,218,255);;
}


/* Home Page */

.infoContainer{
    margin: 4rem 0;
    width: 70%;
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
}

.devinfo{
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 1.2em;
    font-weight: lighter;
    color:rgba(100,255,218,255);
}

.name{
    margin: 0.5em 0;
    font-size: 4em ;
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
}

.about_{
    font-size: 1.8em ;
    margin:0.2rem 0;
    color:rgba(136,146,176,255);
}

.moreabout{
    font-size: 1.6em;
    font-weight: bold;
    margin: 1.2rem 0;
    color:rgba(136,146,176,255);
}

.buttons{
    margin:1.8rem 0;
}


.btn{
    font-size: 18px;
    padding: 0.8rem 1rem;
    background-color: transparent;
    color:rgba(100,255,218,255);
    border: 1px solid rgba(100,255,218,255);
    border-radius: 0.2rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(35, 81, 77);
}

/* profile icons */

.icons{
    position: fixed;
    left: 3rem;
    bottom: 5rem;
}

.icons ul{
    list-style-type: none;
}

.icons ul li{
    padding: 1rem 0;
}

.icons i{
    color:rgba(136,146,176,255);
}

.icons i:hover{
    color: rgba(100,255,218,255);
}

/* about */
.about{
    width: 70%;
    padding: 2rem 0;
}

.about h2{
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
    font-weight: bold; 
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.about h2 span{
    font-weight: lighter;
    color: rgba(100,255,218,255);
}


.allabout{
    display: flex;
}

/* .aboutInfo */
.aboutInfo{
    width: 60%;
    margin: 0 2rem;
}

.aboutInfo p{
    font-size: 1.4rem;
    margin: 1.2rem 0;
    color:rgba(136,146,176,255);
}

/* aboutImg */

.aboutImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.aboutImg img{
    height: 20rem;
    background-color:rgb(78, 198, 170);
    border-radius: 0.3rem;
}

/* skills */

.skills{
    width: 70%;
    padding: 2rem 0;
}

.skills h2{
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
    font-weight: bold; 
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.skills h2 span{
    font-weight: lighter;
    color: rgba(100,255,218,255);
}

.skills h3{
    text-align: center;
    font-family:'Fira Sans', sans-serif;
    font-size: 1.3rem;
    margin: 1rem 0;
    color:rgba(204,214,246,255);
}

.skillsection{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.skill{
    font-size: 1.3rem;
    padding: 1.3rem 2.5rem;
    border: 1px solid  rgba(100,255,218,255);
    border-radius: 1rem;
    margin: 0.5rem 1rem;
    font-family:monospace;
    font-weight: 600;
    color:rgba(204,214,246,255);
}

.skill:hover{
    transform: scale(104%);
}

/* connect */
.connectme{
    width: 70%;
    padding: 2rem 0;
}

.connectme h2{
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
    font-weight: bold; 
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.connect h2 span{
    font-weight: lighter;
    color: rgba(100,255,218,255);
}

.link a{
    text-decoration: none;
}

.connect{
    text-decoration: none;
    padding:10px 30px;
    font-size: 25px;
    color: white;
}

.connect:hover{
    color: rgba(100,255,218,255);
}

.link p{
    font-size: 22px;
    padding: 20px 30px;
}

/*  */
.sidebargo{
    transform: translate(-400px,0px);
    position: absolute;
}

.hamburger img{
    width: 23px;
    /* filter: grayscale(1) invert(1); */
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    visibility: hidden;
}

.cross{
    margin-left: 160px;
    margin-top: 10px;
    filter: grayscale(1) invert(1);
}

.ham{
    margin-top: 10px;
}


#preloader{
    background:#000 url("./Images/preloader2.gif") no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}



@media (max-width: 1000px){
    .navbar{
        display: none;
    }
    .devpic{
        display: none;
    }

    .development,.programming{
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .btn{
        font-size: 15px;
    }
    
    .hamburger{
        visibility: visible;
    }

    .sidebar{
        visibility: visible;
    }
}

@media (max-width: 800px){
    .navbar{
        display: none;
    }
    .devpic{
        display: none;
    }

    .skillcontainer{
        grid-template-columns: repeat(1, 1fr);
    }

    .skillsection{
        margin: auto;
    }

    .btn{
        font-size: 15px;
    }

    .hamburger{
        visibility: visible;
    }
    
    .sidebar{
        visibility: visible;
    }

    .infoContainer{
        margin-top: 30%;
    }
    
    .about{
        margin-top: 30%;
    }

    .aboutInfo{
        width: 100%;
    }

    .aboutImg{
        display: none;
    }

    .icons{
        display: none;
    }

    .skills{
        margin-top: 30%;
    }

    .skillsection{
        grid-template-columns: repeat(1,1fr);
    }

    .link_container{
        margin-top: 30%;
    }

    .contactform{
        margin-top: 30%;
    }
}

@media(max-width: 500px){
    .infoContainer{
        width: 95%;
    }

    .hello{
        font-size: 1.2em;
        font-weight: lighter;
        color:rgba(100,255,218,255);
    }
    
    .name{
        font-size: 2.7em ;
    }
    
    .about_{
        font-size: 1.1em ;
    }
    
    .moreabout{
        font-size: 1.4em;
    }

    .about{
        width: 95%;
    }

    .aboutInfo{
        width: 100%;
    }

    .aboutImg{
        display: none;
    }

    .icons{
        display: none;
    }

    .skills{
        width: 95%;
    }

    .skillsection{
        grid-template-columns: repeat(1,1fr);
    }

    .skill{
        text-align: center;
    }

    .skill i{
        display: block;
    }

    .navbar{
        display: none;
    }
    .devpic{
        display: none;
    }

    .btn{
        font-size: 12px;
    }

    .hamburger{
        visibility: visible;
    }

    .sidebar{
        visibility: visible;
    }

    
    .link_container{
        width: 95%;
        margin-top: 30%;
    }

   

    .link_container{
        margin-top: 25%;
        width: 95%;
    }

    .contactform{
        margin-top: 25%;
        width: 95%;
        font-size: 12px;
        padding: 1rem;
    }

    
}











