@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color:rgba(136,146,176,255);
    text-decoration: none;
}

a:hover{
    color:rgba(100,255,218,255);
}

/* navbar */
.navbar{
    position: sticky;
    top: 0;
    width: 100vw;
    background-color:rgb(6, 26, 56);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: right;
    margin-bottom: 1rem;
}

.navbar nav{
    padding: 1.5rem;
}

.navbar nav ul{
    display: flex;
    list-style: none;
    align-items: left;
}

.navbar nav ul li a{
    font-size: 1rem;
    padding: 0 1.2rem;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.navbar nav ul li a:hover{
    color:rgba(100,255,218,255);
}

/* container */
.container{
    color: white;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(10,25,47,255);
}

/* sidebar for mobile view */

.sidebar{
    top: 0;
    left: 0;
    width: 240px;
    position: absolute;
    background-color:rgb(6, 26, 56);
    color: white;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease-in;
    visibility: hidden;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 20px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color:rgba(204,214,246,255);
}

.sidebar nav li a:hover{
    color:rgba(100,255,218,255);;
}


/* Home Page */

.infoContainer{
    width: 70%;
    display: flex;
    padding: 2rem;
    padding-top: 8rem;
}

.devinfo{
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 1.2em;
    font-weight: lighter;
    color:rgba(100,255,218,255);
}

.name{
    margin: 0.5em 0;
    font-size: 4em ;
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
}

.about_{
    font-size: 1.8em ;
    margin:0.2rem 0;
    /* color:rgba(136,146,176,255); */
    color: rgb(195, 197, 199);
}

.moreabout{
    font-size: 1.6em;
    font-weight: bold;
    margin: 1.2rem 0;
    /* color:rgba(136,146,176,255); */
    color: rgb(195, 197, 199);
}

.buttons{
    margin:1.8rem 0;
}


.btn{
    font-size: 18px;
    padding: 0.8rem 1rem;
    background-color: transparent;
    color:rgba(100,255,218,255);
    border: 1px solid rgba(100,255,218,255);
    border-radius: 0.2rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(35, 81, 77);
}

/* profile icons */

.icons{
    position: fixed;
    left: 3rem;
    bottom: 0rem;
}

.icons ul{
    list-style-type: none;
}

.icons ul li{
    padding: 1rem 0;
}

.icons i{
    color:rgba(136,146,176,255);
}

.icons i:hover{
    color: rgba(100,255,218,255);
}

.icons .vl{
    border-left: 2px solid rgba(136,146,176,255);
    height: 100px;
}

/* email */
.email{
    position: fixed;
    right: -4rem;
    bottom: 10rem;
    font-size: 1.2rem;
    transform: rotate(90deg);
}

/* about */
.about{
    width: 70%;
    margin: 2rem 0;
    padding: 0 2rem;
}

.about h2{
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
    font-weight: bold; 
    font-size: 1.5rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.about h2 span{
    font-weight: lighter;
    color: rgba(100,255,218,255);
}

.allabout{
    display: flex;
}

/* .aboutInfo */
.aboutInfo{
    width: 90%;
}

.aboutInfo p{
    font-size: 1.3rem;
    margin: 1.2rem 0;
    color:rgba(136,146,176,255);
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: rgb(195, 197, 199);
}

/* aboutImg */

.aboutImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.aboutImg img{
    height: 20rem;
    background-color:rgb(78, 198, 170);
    border-radius: 0.3rem;
}

/* skills */

.skills{
    width: 70%;
    margin: 2rem 0;
    padding: 0 2rem;
}

.skills h2{
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
    font-weight: bold; 
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 8rem;
}

.skills h2 span{
    font-weight: lighter;
    color: rgba(100,255,218,255);
}

.skills h3{
    text-align: center;
    font-family:'Fira Sans', sans-serif;
    font-size: 1.3rem;
    margin: 1rem 0;
    color:rgba(204,214,246,255);
}

.skillsection{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.skill{
    font-size: 1.3rem;
    padding: 1.3rem 2.5rem;
    border: 1px solid  rgba(100,255,218,255);
    border-radius: 1rem;
    margin: 0.5rem 1rem;
    font-family:monospace;
    font-weight: 600;
    color:rgba(204,214,246,255);
}

.skill:hover{
    transform: scale(104%);
}


/* projects */
.projects{
    width: 85%;
    margin: 2rem 0;
    padding: 0 2rem;
    /* border: 2px solid red; */
}

.projects h2{
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
    font-weight: bold; 
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 8rem;
}

.projects h2 span{
    font-weight: lighter;
    color: rgba(100,255,218,255);
}

.project_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding:0.5rem;
    /* border: 2px solid blue; */
}

.project{
    border-radius: 1rem;
    border: 1px solid rgba(100,255,218,255);
    color:black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1.1rem;
}

.project img{
    width: 220px;
    height: 320px;
}

.project h3{
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
    font-weight: bold; 
    font-size: 1.4rem;
    margin-top: 1rem;
}

.project p{
    font-family:'Fira Sans', sans-serif;
    color: white;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    padding: 0.5rem 0;
}

.gitandlink{
    bottom: 1rem;
}

.btn1{
    font-size: 15px;
    padding: 0.4rem 1.3rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0.2rem;
    margin: 1rem;
    cursor: pointer;
    background-color: white;
}

.btn1:hover{
    transform: scale(1.1);
}

.btn1 a{
    color:black;
    text-decoration: none;
}


/* connect */
.contact{
    width: 70%;
    margin: 3rem 0;
    padding: 0 2rem;
}

.contact h2{
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
    font-weight: bold; 
    font-size: 1.5rem;
    margin: 2rem 0;
}

.contact h2 span{
    font-weight: lighter;
    color: rgba(100,255,218,255);
}

.contactsection{
    width: 80%;
    text-align: center;
    margin: auto;
}

.contactsection h1{
    font-family:'Fira Sans', sans-serif;
    color:rgba(204,214,246,255);
    font-weight: bold; 
    font-size: 2rem;
    margin: 2rem;
}

.contactsection p{
    font-size: 1.6rem;
    margin: 1.2rem 0;
    /* color:rgba(136,146,176,255); */
    color: rgb(195, 197, 199);

}

.contactsection h2{
    font-size: 4rem;
}


/*  */
.sidebargo{
    transform: translate(-400px,0px);
    position: absolute;
}

.hamburger img{
    width: 23px;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    visibility: hidden;
}

.cross{
    margin-left: 180px;
    margin-top: 10px;
    filter: grayscale(1) invert(1);
}

.ham{
    margin-top: 10px;
}


#preloader{
    background:#000 url("./Images/preloader2.gif") no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.contacticons{
    margin: 2rem;
    display: none;
}

.contacticons ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.contacticons ul li{
    padding: 0 1rem;
}

.contacticons i{
    color:rgba(136,146,176,255);
}

.contacticons i:hover{
    color: rgba(100,255,218,255);
}

footer p{
    padding: 2rem 0;
    color:rgba(136,146,176,255);
}



@media (max-width: 1000px){
    .navbar{
        display: none;
    }
    .devpic{
        display: none;
    }

    .development,.programming{
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .btn{
        font-size: 15px;
    }
    
    .hamburger{
        visibility: visible;
    }

    .sidebar{
        visibility: visible;
    }

    .aboutInfo{
        width: 100%;
    }

    .aboutImg{
        display: none;
    }
}

@media (max-width: 800px){
    .navbar{
        display: none;
    }

    .devpic{
        display: none;
    }

    .skillcontainer{
        grid-template-columns: repeat(1, 1fr);
    }

    .skillsection{
        margin: auto;
    }

    .btn{
        font-size: 15px;
    }

    .hamburger{
        visibility: visible;
    }
    
    .sidebar{
        visibility: visible;
    }

    .infoContainer{
        width: 95%;
        margin: 2rem 0;
    }
    
    .about{
        width: 95%;
        margin: 2rem 0;
        font-size: 1.5em ;
    }

    .about h2{
        margin: 1rem 0;
    }

    .aboutInfo{
        width: 100%;
    }

    .aboutImg{
        display: none;
    }


    .skills{
        width: 95%;
        margin: 2rem 0; 
    }

    .projects h2{
        margin: 1rem 0;
    }

    .skills h2{
        margin: 1rem 0;
    }

    .skill{
        margin: 1rem 0;
    }

    .skillsection{
        grid-template-columns: repeat(1,1fr);
    }

    .contact{
        width: 95%;
        margin: 2rem 0;
    }

    .contact h2{
        margin: 1rem 0;
    }

    .contacticons{
        margin: 2rem;
        display: block;
    }

    .icons{
        display: none;
    }

    .email{
        display: none;
    }

}

@media(max-width: 500px){
    /* home */

    .infoContainer{
        width: 95%;
    }

    .hello{
        font-size: 1.2em;
        font-weight: lighter;
        color:rgba(100,255,218,255);
    }
    
    .name{
        font-size: 2.7em ;
    }
    
    .about_{
        font-size: 1.1em ;
    }
    
    .moreabout{
        font-size: 1.4em;
    }

    /* skill */

    .about{
        width: 95%;
        padding: 0.8rem;
    }

    .aboutImg{
        display: none;
    }

    .aboutInfo{
        width: 100%;
    }

    .aboutInfo p{
        font-size: 1.2rem;
    }

    .about h2{
        margin: 1rem 0;
    }

    /* projects */
    .projects h2{
        margin: 1rem 0;
    }

    .btn1{
        font-size: 15px;
        padding: 0.8rem;
        margin: 0.8rem;
    }

    /* skill */

    .skills{
        width: 95%;
    }

    .skills h2{
        margin: 1rem 0;
    }

    .skillsection{
        grid-template-columns: repeat(1,1fr);
    }

    .skill{
        text-align: center;
        margin: 1rem 0;
    }

    .skill i{
        display: block;
    }

    /* contact */

    .contact{
        width: 95%;
    }

    .contact h2{
        margin: 1rem 0;
    }

    .contactsection h1{
        font-size: 1.5rem;
    }

    .contactsection p{
        font-size: 1.2rem;
    }

    /* general */

    .icons{
        display: none;
    }

    .email{
        display: none;
    }

   
    .navbar{
        display: none;
    }

    .btn{
        font-size: 12px;
    }

    .hamburger{
        visibility: visible;
    }

    .sidebar{
        visibility: visible;
    }
    

}











